.profile{
    &__contacts{
        overflow-x: hidden;
        text-align: left;
        box-sizing: border-box;
        padding: 20px;
        width: 30%;
        min-height: 695px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 50px lightgrey;
        overflow-y: scroll;
    }
    &__contact{
        cursor: pointer;
        position:relative;
        top:0px;
        left:0px;
        padding:10px 20px;
        background-color: #f1f1f1;
        margin: 5px 0px;
        border-radius: 10px;
        font-style: italic;
        transition: all 0.3s ease-in-out;
        transform: translateX(-500px);
        &:hover{
            background-color: rgb(220, 240, 181);
        }
        &.online{
            &::before{
                content: '';
                position: absolute;
                top:50%;
                right:10px;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                background-color: yellowgreen;
            }
        }
        &.offline{
            &::before{
                content: '';
                position: absolute;
                top:50%;
                right:10px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: grey;
            }
        }
    }
    &__contacts-search{
        button{
            cursor: pointer;
            margin:5px 0px;
            padding:8px 0px;
            width: 100%;
            color:white;
            font-weight: bold;
            font-style: italic;
            border-radius: 5px;
            background-color: yellowgreen;
            transition: all 0.3s ease-in-out;
            outline: none;
            border: 0px;
            &:active,&:focus{
                outline: none;
                border: 0px;
            }
            &:hover{
                opacity:0.7;
            }
        }
    }
    &__contacts-field{
        border: 1px solid lightgray;
        border-radius: 5px;
        input{
            padding: 5px;
            outline: none;
            border: 0px;
            background-color: transparent;
            &:active,&:focus{
                outline: none;
                border: 0px;
            }
        }
    }
    
}