.home__intro{
    padding: 0px 80px;
    @include flex(row,space-between,center,null);
    @include breakpoint-down(small){
        @include flex(column,center,center,null);
        padding: 0px;
    }
    &-text{
        position: relative;
        left: 100px;
        z-index: 2;
        width: 50%;
        @include breakpoint-down(small){
            width: 100%;
            left: 0px;
            h2,p{
                padding:20px;
            }
        }
        h2{
            margin:20px 0px;
            font-size: 40px;
            color: yellowgreen;
        }
        p{
            font-style: italic;
        }
    }
    &-img{
        width: 50%;
        transform: rotate(10deg);
        @include breakpoint-down(small){
            margin-top: 20px;
            width: 100%;
            transform: rotate(0deg);
        }
    }
}