.rooms{
    &__wrapper{
        padding: 50px 0px;
        @include flex(row,center,center,wrap);
    }
    &__room{
        cursor: pointer;
        font-weight: bold;
        font-style: italic;
        font-size:25px;
        text-align: center;
        width: 20%;
        height: 150px;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 50px lightgrey;
        transition: all 0.3s ease-in-out;
        @include flex(row,center,center,null);
        @include breakpoint-down(small){
            width: 80%;
            
        }
        &:hover{
            transform:translateY(-10px);
            box-shadow: 0px 0px 50px rgb(156, 156, 156);
        }
    }
    &__create-room{
        width: 70%;
        margin:0px auto;
        h2{
            text-align: center;
        }
        button {
            cursor: pointer;
            font-weight: bold;
            color: white;
            display: block;
            width: 100%;
            margin:10px auto;
            height: 40px;
            border-radius: 5px;
            border:0px;
            outline: none;
            transition: all 0.3s ease-in-out;
            background-color: yellowgreen;
            &:hover{
                opacity: 0.6;
            }
            &:active,&:focus{
                border:0px;
                outline: none;
            }
        }
    }
    &__field{
        cursor:text;
        width: 100%;
        margin:10px auto;
        border-radius: 5px;
        background-color: #fff;
        position: relative;
        top:0px;
        left:0px;
        &::before{
            content: '';
            position: absolute;
            bottom:0px;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            transition: all 0.5s ease-in-out;
            border-bottom: 2px solid yellowgreen;
        }
        &.active{
            &::before{
                width: 100%;
            }
        }
        label{
            display: block;
        }
        input{
            pointer-events: none;
            padding: 8px;
            background-color: transparent;
            border:0px;
            outline: none;
            &:active,&:focus{
                border:0px;
                outline: none;
            }
        }
        button {
        cursor: pointer;
        font-weight: bold;
        color: white;
        display: block;
        width: 100%;
        margin:10px auto;
        height: 40px;
        border-radius: 5px;
        border:0px;
        outline: none;
        transition: all 0.3s ease-in-out;
        background-color: yellowgreen;
        &:hover{
            opacity: 0.6;
        }
        &:active,&:focus{
            border:0px;
            outline: none;
        }
    }
    }
    
}