.nav{
    position: relative;
    z-index: 9999;
    top:0px;
    left: 0px;
    box-sizing: border-box;
    height: 50px;
    background-color: #fff;
    padding:0px 80px;
    box-shadow: 0px 10px 20px lightgrey;
    @include flex(row,flex-end,center,null);
    &__sidebar{
        cursor: pointer;
        position: absolute;
        left: 25px;
        top:12px;
        span{
            pointer-events: none;
            display: block;
            margin:5px 0px;
            border-bottom: 2px solid black;
            width: 25px;
        }
    }
    &__menu{
        @include flex(row,center,center,null);
        width: 30%;
        a{
            cursor: pointer;
            padding:8px 15px;
            text-decoration: none;
            color:black;
            display: block;
            position: relative;
            top:0px;
            left:0px;
            &::before{
                content: '';
                position: absolute;
                bottom:-8px;
                left:50%;
                width: 70%;
                transform: translateX(-50%);
            }
            &:hover{
                &::before{
                    border-bottom: 3px solid black;
                }
            }
        }
    }
    &__profile{
        position: relative;
        top:0px;
        left:0px;
    }
    &__profile-img{
        cursor: pointer;
        width: 30px;
        height: 30px;
        img{
            width: 100%;
        }
    }
    &__profile-menu{
        display: none;
        padding: 10px;
        width: 100px;
        position: absolute;
        z-index: 9999;
        top:40px;
        left:50%;
        transform: translateX(-50%);
        background-color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 50px 50px gray;
        a{
            padding: 5px;
            margin: 10px 0px;
            &:hover{
                background-color: #f1f1f1;
            }
        }
    }
}