.sidebar{
    position: fixed;
    top:0px;
    left:0px;
    z-index: 99999;
    height: 100vh;
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    background:linear-gradient(45deg,#f1f1f1,black);
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    overflow-y: scroll;
    &.active{
        transform: translateX(0%);
    }
    @include breakpoint-down(small){
        width: 100%;
        button{
            width: 95% !important;
        }
    }
    &__item{
        cursor: pointer;
        font-weight: bold;
        margin:5px 0px;
        padding:10px 5px;
        box-sizing: border-box;
        font-style: italic;
        border-radius: 5px;
        color:white;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: rgb(220, 240, 181);
            color: black;
        }
    }
    &__menu-item{
        cursor: pointer;
        position:relative;
        top:0px;
        left:0px;
        padding:10px 20px;
        background-color: #f1f1f1;
        margin: 5px 0px;
        border-radius: 10px;
        font-style: italic;
        &:hover{
            background-color: rgb(220, 240, 181);
        }
        &.online{
            &::before{
                content: '';
                position: absolute;
                top:50%;
                right:10px;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                background-color: yellowgreen;
            }
        }
        &.offline{
            &::before{
                content: '';
                position: absolute;
                top:50%;
                right:10px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: grey;
            }
        }
    }
    button{
        cursor: pointer;
        font-style: italic;
        font-weight: bold;
        color: white;
        padding: 10px 20px;
        margin:10px auto;
        border:0px;
        border-radius: 5px;
        background-color: yellowgreen;
        transition: all 0.3s ease-in-out;
        width: 100%;
        position: relative;
        bottom:0px;
        left: 0px;
        &:hover{
            opacity: 0.7;
        }
    }
}